# Write relevant git ignore
*.pyc
*.pyo
__pycache__/
.eggs/
.egg-info/
dist/
build/
.tox/
.local/
.cache/
nosetests.xml
coverage.xml
*.egg
.pytest_cache/
htmlcov/
.mypy_cache/
.ipynb_checkpoints/
.ipynb_metadata/
profile_default/
*/__init__.py
*/site/__init__.py
*/node_modules/
*/venv/
*/__pycache__/
*/.pytest_cache/
*/.mypy_cache/
*/.ipynb_checkpoints/
*/.ipynb_metadata/
*/profile_default/
*/htmlcov/
*/__pycache__/
castAway.egg-info